@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <div class="card" style="background-color: #DCC1B0;"> *@

    <h1 class="display-4">WELCOME TO START YOUR DAY COFFEE SHOP</h1>
        <img class="background-image" src= "~/lib/images/pngtree-simple-brown-wooden-board-coffee-drink-shop-home-background-image_152845.jpg"/>
        @* <form method="post">

            <input name="FirstName" type="hidden"  value="@Model.Data.FirstName" />
            <div class="checkbox">
          
                @foreach (var item in @Model.WorkingEmployees)
                {
                    @if(item.Value.Contains(@Model.Data.FirstName!))
                 {
                    <div class="form-check ">
                <input name="Day" class="form-check-input" type="checkbox" checked value="@item.Key" /> 
                <label class="form-check-label" >@item.Key</label> 
                    </div>
                 
                    
                }
                else
                {
                     <div class="form-check ">
                        <input name="Day" class="form-check-input" type="checkbox" value="@item.Key" /> 
                        <label class="form-check-label" >@item.Key</label> 
                    </div>
                }
                }
                   
            </div>
              @if(TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success">
                        <strong>@TempData["AlertMessage"]</strong>
                    </div>

                }       
                    <div class="button">
                        <button asp-page-handler ="submit" class="btn btn-primary btn-lg" type="submit" >Submit</button>
                                
                    </div>
                    <div class="updatebtn">
                    <form asp-page-handler="update" method="post">
                        <input asp-for="Data.FirstName" type="hidden" asp-route-name="name" value="@Model.Data.FirstName" />
                        <button asp-page-handler="update" asp-route-name="name" class="btn1, btn btn-danger ">Update</button>
                    </form> 

                    </div> 
    
        </form>
  
    </div>  *@

</div>
