@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="card" style="background-color: #DCC1B0;">
        @if(@Model.Data.FirstName != null)
        {
        <h2 class="display-4"> @Model.Data.FirstName.ToUpper() SCHEDULE YOUR DAYS</h2>
        <form method="post">

            <input name="FirstName" type="hidden"  value="@Model.Data.FirstName" />
            <div class="checkbox">
                <table class="table">
                @foreach (var item in @Model.WorkingEmployees)
                {
                    <tr>
                        <th>
                    @if(item.Value.Contains(@Model.Data.FirstName!))
                    {
                        <div class="form-check ">
                    <input name="Day" class="form-check-input" type="checkbox" checked value="@item.Key" /> 
       
                    <label class="form-check-label" >@item.Key</label>
                        </div>  
                    }
                    else
                    {
                        <div class="form-check ">
                            <input name="Day" class="form-check-input" type="checkbox" value="@item.Key" /> 
                            <label class="form-check-label" >@item.Key</label> 
                            
                        </div>
                               
                    }
                        </th>
                    </tr>
                
                }
                    

             </table>
            </div>
              @if(TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success">
                        <strong>@TempData["AlertMessage"]</strong>
                    </div>

                }       
                    
                       
                        <div class="btns">
                            <button asp-page-handler ="submit" class="btn btn-primary" type="submit" >Submit</button>
                            <button asp-page-handler="update" class="btn btn-danger">Update</button>
                        </div>

                </form>
        }
        else{
                <h2 class="display-4">SCHEDULE YOUR DAYS</h2>
                <div class="checkbox">
          
                <table class="table">
                @foreach (var item in @Model.WorkingEmployees)
                {
                    <tr>
                        <th>
                    @if(item.Value.Contains(@Model.Data.FirstName!))
                    {
                        <div class="form-check ">
                    <input name="Day" class="form-check-input" type="checkbox" checked value="@item.Key" /> 
       
                    <label class="form-check-label" >@item.Key</label>
                        </div>  
                    }
                    else
                    {
                        <div class="form-check ">
                            <input name="Day" class="form-check-input" type="checkbox" value="@item.Key" /> 
                            <label class="form-check-label" >@item.Key</label> 
                            
                        </div>
                               
                    }
                        </th>
                        <td>
                    @if(item.Value.Count() == 3)
                    {
                    <input type="color" value="#32CD32" id="colorPicker" /> 

                    }
                    else if(item.Value.Count() < 3)
                    {
                       
                        <input type="color" value="#808080" id="colorPicker" />  
                    }
                    else if(item.Value.Count() > 3)
                    {
                        <input type="color" value="#FF0000" id="colorPicker" /> 
                    }

                        </td>
                    </tr>
                    

                
                }
                    

             </table>
                   
            </div>
                        @* <div class="btns">
                            <button asp-page-handler ="submit" class="btn btn-primary" type="submit" >Submit</button>
                        </div> *@

            }
        
  
    </div> 

</div>
