@page
@using Microsoft.AspNetCore.Http
@model Razor.Pages.ManagerModel
@{
  ViewData["Title"] = "Days page";
}



<div class="text-center">
    <div class="box">


      @if (!@Model.IsAdmin) {
    <div class="denied">
            
         <div class="blink_me "> 
          <h1 class="display-4 text-danger">Access denied</h1>
          </div>
          <i class="fa fa-lock w3-xxlarge" aria-hidden="true"></i>
          <br>
        <button class="btn3 btn-danger btn-lg"><a asp-page-handler="home" asp-page="/Index" >home</a></button>
    </div>
      }

      else {

      <h1 class="display-4">WEEKLY SCHEDULE</h1>
      <table class="table table-striped">
          <tr>
            <th>Days Of The Week</th>
            <th>Employees</th>
            
          </tr>
        @foreach (var item in @Model.WorkingEmployees)
        {
          <tr>
            <td>@item.Key</td>
              <td>
                <ol>
            @foreach (var employeeName in item.Value)
            {
              <form method="post">
                  <input type="hidden" name="WaiterName" value="@employeeName">
                  <input class="name" asp-page="Waiter" asp-page-handler="manager" type="submit" value="@employeeName" />
              </form>

            }
                </ol>
               
                </td>
          </tr>
        }
      </table>  


        <div class="button">
        @if(TempData["Message2"] != null)
                    {
                        <div class="alert alert-success">
                            <strong>@TempData["Message2"]</strong>
                        </div>

                    }
            <form asp-page-handler="clear" method="post">
                  
                  <button class="btn3 btn-danger btn-lg"  asp-page-handler="clear" asp-route-name="name" >Clear</button>
                  @* <button class="btn2 btn-primary btn-lg"  asp-page-handler="logout" >Logout</button> *@
            </form> 
        </div>
      }
          </div> 
    </div>
   
</div>
