@page
@using Microsoft.AspNetCore.Http
@model WaiterModel
@{
    ViewData["Title"] = "Waiter page";
}

<div class="text-center">
    <div class="box">

     
        @if(@Model.GetWaiterName == null)
        {
        <div class="denied">
            
            <div class="blink_me "> 
            <h1 class="display-4 text-light">Please Login First</h1>
            </div>
            <i id="lock" class="fa fa-lock w3-xxlarge" aria-hidden="true"></i>
            <br>
            <form method="post">
             <button class="btn3 btn-danger btn-lg" asp-page-handler="home" asp-page="/Index" >home</button>
            </form>
        </div>

        }
           
        else if(@Model.GetWaiterName != null)
        {
            @if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) != "Admin")
            {
                <h1 class="display-4">@Model.GetWaiterName.ToUpper() SCHEDULE YOUR DAYS</h1> 

            }
            @if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) == "Admin")
            {
                if(WorkingDays.Week >0)
                {
                    <h1 class="display-4"> ON @Model.GetWaiterName.ToUpper()'S ACCOUNT</h1>   

                }else if(WorkingDays.Week == 0)
                {
                    <h1 class="display-4"> ON @Model.GetWaiterName.ToUpper()'S ACCOUNT</h1>   

                }
            } 
            <form method="post">

                    <input name="WaiterName" type="hidden"  value="@Model.WaiterName" />

                    @if(WorkingDays.Week == 0)
                    {
                    <h2>WEEK 1</h2>
                    }
                    else if(WorkingDays.Week >0)
                    {
                        <h2>WEEK 2</h2>
                    }
                    @if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) != "Admin")
                    {
                        <div class="weeks">
                        <button asp-for="WorkingDays.Week" asp-page-handler="Back">Back</button>
                        <button asp-for="WorkingDays.Week" asp-page-handler="Next">Next</button>
                        </div>
                
                    }
                    else if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) == "Admin")
                    {
                        <div class="weeks">
                        <button asp-for="WorkingDays.Week" asp-page-handler="Back">Back</button>
                        <button asp-for="WorkingDays.Week" asp-page-handler="Next">Next</button>  
                        </div>
                    }

                    <table class="table table-striped">
                          <tr>
                            <thead>
                                <th>Days Of The Week</th>
                                <th>Select</th>
                                <th>Status</th>
                            </thead>
                            </tr>
                             @foreach (var item in @Model.WeekDaysDate)
                            {
                                    <tbody>
                                    <tr>
                                            <td>
                                                <label class="form-check-label" >@item.Value</label>
                                                <br>
                                                <i class="fa fa-calendar-o" aria-hidden="true"> <label class="form-check-label" >@item.Key</label> </i> 
                                            </td>

                                           @if(@Model.WorkingEmployees.ContainsKey(item.Key))
                                           {
                                            <td>
                                                @if(@Model.WorkingEmployees[item.Key].Contains(@Model.GetWaiterName))
                                                {
                                                    <input name="Day" class="form-check-input" type="checkbox" checked value="@item.Key" />                                                        

                                                }
                                                else
                                                {  
                                                    <input name="Day" class="form-check-input" type="checkbox" value="@item.Key" />                                  
                                                }
                                            </td>
                                                <td>
                              
                                                @if(@Model.WorkingEmployees[item.Key].Count() == 3 )
                                                {
                                                <input type="color" value="#32CD32" id="colorPicker" />
                                                }else if(@Model.WorkingEmployees[item.Key].Count() < 3)
                                                {
                                                  <input type="color" value="#fcbf49" id="colorPicker" />   
                                                }
                                                else if(@Model.WorkingEmployees[item.Key].Count() > 3)
                                                {
                                                    <input type="color" value="#FF0000" id="colorPicker" /> 
                                                }

                                                </td>
                                       
                                            } 
                                            else 
                                           {
                                                <td>
                                                     <input name="Day" class="form-check-input" type="checkbox"  value="@item.Key" />
                                                </td>
                                                 <td>
                            
                                                        <input type="color" value="#fcbf49" id="colorPicker" /> 
                                                </td>
                                           
                                            } 
                                   
                                    </tr>
                                    </tbody>    
                            }

                    </table>
                              

                     @if(TempData["AlertMessage"] != null)
                        {
                            <div class="alert alert-success">
                                <strong>@TempData["AlertMessage"]</strong>
                            </div>

                        }
                   
                        <div class="button">
                            
                                    @if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) != "Admin" )
                                    {
                                       @if(WorkingDays.Week == 0)
                                       {
                                        @if(@Model.WaiterDays().Count() < 1 && @HttpContext.Session.GetString(SessionKeys.UserNameKey) != null)
                                        {
                                            <button asp-page-handler ="submit" class="btn2 btn-primary btn-lg" type="submit">Submit</button>
                                        
                                        }
                                        else
                                        {
                                            <button asp-page-handler="update" class="btn1 btn-success btn-lg">Update</button>
                                        }

                                       }
                                       else if(WorkingDays.Week > 0)
                                       {
                                        @if(@Model.WaiterDays().Count() < 1 && @HttpContext.Session.GetString(SessionKeys.UserNameKey) != null)
                                        {
                                            <button asp-page-handler ="submit" class="btn2 btn-primary btn-lg" type="submit">Submit</button>
                                        
                                        }
                                        else
                                        {
                                            <button asp-page-handler="update" class="btn1 btn-success btn-lg">Update</button>
                                        }

                                       }

                                    }
                                    else if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) == "Admin")
                                    {  
                                        <div class="waiter-buttons">
                                            <button asp-page-handler="update" class="btn1 btn-success btn-lg">Update</button>

                                        </div>
                                    }
       
                        </div>

            </form> 
        }
            
    </div> 
</div>
        
        

