@page
@using Microsoft.AspNetCore.Http
@model WaiterModel
@{
    ViewData["Title"] = "Waiter page";
}

<div class="text-center">
    <div class="box">

     
        @if(@Model.GetWaiterName == null)
        {
        <div class="denied">
            
            <div class="blink_me "> 
            <h1 class="display-4 text-light">Please Login First</h1>
            </div>
            <i class="fa fa-lock w3-xxlarge" aria-hidden="true"></i>
            <br>
            <button class="btn3 btn-danger btn-lg"><a asp-page-handler="home" asp-page="/Index" >home</a></button>
        </div>

        }
           
        else if(@Model.GetWaiterName != null)
        {


            
            <h1 class="display-4">@Model.GetWaiterName.ToUpper() SCHEDULE YOUR DAYS</h1>
         
                
            <form method="post">
                    <input name="WaiterName" type="hidden"  value="@Model.WaiterName" />
           
                 <div class="table1">


                    <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Days Of The Week</th>
                                <th>Select</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                
                        @foreach (var item in @Model.WorkingEmployees)
                        {
                            <tbody>

                            <tr>
                            
                            @if(item.Value.Contains(@Model.GetWaiterName))
                            {
                                <td>
                                    <label class="form-check-label" >@item.Key</label>
                                </td>
                                <td>
                                    <input name="Day" class="form-check-input" type="checkbox" checked value="@item.Key" /> 
                                </td>
                                        
                            }
                            else
                            {
                                <td>
                                <label class="form-check-label" >@item.Key</label> 
                                </td>     
                                <td>
                                <input name="Day" class="form-check-input" type="checkbox" value="@item.Key" /> 
                                </td>
                            }
                            @if(item.Value.Count() == 3)
                            {
                                <td>

                            <input type="color" value="#32CD32" id="colorPicker" /> 
                                </td>

                            }
                            else if(item.Value.Count() < 3)
                            {
                            <td>
                                <input type="color" value="#fcbf49" id="colorPicker" />  

                            </td>
                            }
                            else if(item.Value.Count() > 3)
                            {
                                <td>
                                <input type="color" value="#FF0000" id="colorPicker" /> 

                                </td>
                            }
                            </tr>
                        
                            </tbody>
                        }

                    </table>
                        </div>
                              

                     @if(TempData["AlertMessage"] != null)
                        {
                            <div class="alert alert-success">
                                <strong>@TempData["AlertMessage"]</strong>
                            </div>

                        }
                        <div class="button">
                            
                                    @if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) != "Admin" )
                                    {
                                    @if(@Model.Day.Count() < 1 && @HttpContext.Session.GetString(SessionKeys.UserNameKey) != null)
                                    {
                                        <button asp-page-handler ="submit" class="btn2 btn-primary btn-lg" type="submit" >Submit</button>
                                    
                                    }
                                    else{
                                        <button asp-page-handler="update" class="btn1 btn-success btn-lg">Update</button>
                                    
                                    }

                                    }
                                    else if(@HttpContext.Session.GetString(SessionKeys.UserNameKey) == "Admin")
                                    {
                                        
                                        <div class="waiter-buttons">
                                            <button asp-page-handler="update" class="btn1 btn-success btn-lg">Update</button>

                                        </div>
                                    }
                        </div>

            </form> 
        }
            
    </div> 
</div>
        
        

